/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* цвет текста адреса rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --logo-color: #000;
    --button-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    position: relative;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* logo */
.logo {
    display: inline-block;
    color: var(--logo-color);

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.page-header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-footer__logo {
    margin-bottom: 20px;

    color: var(--primary-white-color);
}

/* page header */
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header__main-nav {
    display: flex;
    align-items: center;
} 

/* site nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item,
.contact__item {
    position: relative;

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;

    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);
}

.site-nav__link--current::after {
    position: absolute;

    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;

    background: #2196F3;
    border-radius: 2px;
}

/* contact */
.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.contact__item + .contact__item {
    margin-left: 30px;
}

.contact__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;

    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);
}

.contact__icon {
    display: block;
    margin-right: 10px;

    fill: var(--primary-text-color);

    transition: fill 250ms var(--timing-function);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon  {
    fill: var(--accent-color);
}


/* button */
.button {
    display: inline-flex;
    padding: 10px 32px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--timing-function);

    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #188CE8;
}

.button--big {
    padding: 10px 52px;
}

/* main */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* footer */
.page-footer {
    padding: 60px 0;

    background-color: var(--footer-bg-color);
}

.page-footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer__title {
    margin-top: 12px;
    margin-bottom: 20px;

    color: var(--primary-white-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* address */
.address-page {
    margin-right: 70px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    text-decoration: none;

    transition: color 250ms var(--timing-function);
}

.address__link--white-color {
    color: var(--primary-white-color);

    transition: color 250ms var(--timing-function);
}

/* social */
.social-page {
    margin-right: 93px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 10px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50% 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
    transition: background-color 250ms var(--timing-function);
    cursor: pointer;
}

.social__link:hover,
.social__link:focus {
    border-radius: 50% 50%;
    background-color: var(--accent-color);
}

.social__icon,
.button__icon {
    fill: var(--primary-white-color);
}

.button__icon--left {
    margin-left: 10px;
}

/* form */
.form-mail {
    display: flex;
}

.form-mail__field {
    position: relative;
    overflow: hidden;
}

.form-mail__input {
    display: inline-block;

    min-width: 378px;
    padding: 15px 16px;
    margin-right: 12px;

    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-text-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: transparent;

    transition: border 250ms var(--timing-function);
}

.form-mail__label {
    position: absolute;
    top: 50%;
    left: 16px;

    color: rgba(255, 255, 255, 0.6);

    font-size: 16px;
    line-height: 1.25;

    transform: translateY(-50%);
    transition: transform 250ms var(--timing-function);
}

.form-mail__input:hover + .form-mail__label,
.form-mail__input:focus + .form-mail__label,
.form-mail__input:not(:placeholder-shown) + .form-mail__label {
    transform: translateY(150%);
}

.logo__text,
.site-nav__link--current,
.site-nav__link:hover,
.site-nav__link:focus,
.contact__link:hover,
.contact__link:focus,
.address__link:hover,
.address__link:focus,
.address__item:first-child .address__link:hover,
.address__item:first-child .address__link:focus {
    color: var(--accent-color);
}

/* backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 1000ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/* modal */
.modal {
    position: absolute;

    min-width: 528px;
    top: 50%;
    left: 50%;
    padding: 40px;
    text-align: center;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms var(--timing-function) 1000ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50% 50%;

    transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
    cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* form */
.form-legend {
    margin-bottom: 12px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.form-modal {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-modal__field {
    position: relative;

    display: flex;
    flex-direction: column;
    text-align: left;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-modal__field:not(:nth-last-child(3)) {
    margin-bottom: 10px;
}

.form-modal__input {
    margin: 0;
    padding: 11px 12px 11px 42px;

    color: #000;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 0;

    transition: border 250ms var(--timing-function);
    cursor: pointer;
}

.form-modal__comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-modal__label {
    margin-bottom: 4px;
}

.form-modal__icon {
    position: absolute;
    bottom: calc(0% + 12px);
    left: 12px;

    fill: var(--title-text-color);

    transition: fill 250ms var(--timing-function);
}

.form-modal__comment {
    resize: none;
    padding: 11px 16px;

    color: #000;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;
}

.form-modal__field:nth-last-child(3) {
    margin-bottom: 20px;
}

.form-modal__input:hover,
.form-modal__input:focus,
.form-modal__comment:hover,
.form-modal__comment:focus {
    border: 1px solid var(--accent-color); 
}

.form-modal__field:hover .form-modal__icon,
.form-modal__input:focus + .form-modal__icon {
    fill: var(--accent-color);
}

.form-modal__field-check {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.form-modal__input-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.form-modal__box-check {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;

    border: 2px solid var(--title-text-color);
    border-radius: 4px;

    transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.form-modal__input-check:checked + .form-modal__box-check {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-origin: content-box;
}

.form-modal__input-check:focus + .form-modal__box-check {
    outline: var(--accent-color);
    border: 2px solid blue;
}

.form-modal__icon-check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: transparent;

    transition: fill 250ms var(--timing-function);
}

.form-modal__input-check:checked + .form-modal__box-check .form-modal__icon-check {
    fill: var(--primary-white-color);
}

.form-modal__link {
    color: var(--accent-color);
}

