/* filter */
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    padding: 6px 22px;

    background-color: var(--button-bg-color);
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.6;

    transition: background-color 250ms var(--timing-function), 
    color 250ms var(--timing-function), 
    box-shadow 250ms var(--timing-function);
}

.filter__button:hover,
.filter__button:focus,
.filter__button-active {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* project */
.project {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.project__item {
    margin: 15px;
    width: 370px;
    line-height: 0;
}

.project__link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms var(--timing-function);
    cursor: pointer;
}

.project__link:hover,
.project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .project_.project__link {
    color: inherit;
} */

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__thumb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.project__link:hover .project__thumb::before,
.project__link:focus .project__thumb::before {
    transform: translateY(0);
}

.project__label {
    position: absolute;

    width: 322px;
    margin: 0;
    top: 150%;
    left: 50%;
    
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.56;

    transform: translate(-50%, -50%);
    transition: transform 250ms var(--timing-function);
}

.project__link:hover .project__label,
.project__link:focus .project__label {
    transform: translate(-50%, -225%);
}

.project__description {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    text-align: left;
}

.project__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}

